@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.woff2"),
			 url("../fonts/Roboto-Light.woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.woff2"),
			 url("../fonts/Roboto-Regular.woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.woff2"),
			 url("../fonts/Roboto-Medium.woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.woff2"),
			 url("../fonts/Roboto-Bold.woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yeseva One";
	src: url("../fonts/YesevaOne-Regular.woff2"),
			 url("../fonts/YesevaOne-Regular.woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	background-color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1300px;
	padding: 0 44px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.section__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: "Yeseva One", "Georgia", serif;
	font-size: 36px;
	line-height: 42px;
	font-weight: 400;
}

@media (max-width: 767px) {
	.title {
		font-size: 28px;
	}
}

@media (max-width: 1023px) {
	.container {
		padding: 0 27px;
	}
}

.social {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Header*/

.page-header {
	min-height: 684px;
	background-color: #151313;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 684px auto;
}

.no-webp .page-header {
	background-image: url("../img/main-cat-desktop@1x.png");
}

.webp .page-header {
	background-image: url("../img/main-cat-desktop@1x.webp");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.no-webp .page-header {
		background-image: url("../img/main-cat-desktop@2x.png");
	}

	.webp .page-header {
		background-image: url("../img/main-cat-desktop@2x.webp");
	}
}

@media (max-width: 1280px) {
	.page-header {
		background-position: right -150px bottom 0;
	}
}

@media (max-width: 1023px) {
	.page-header {
		min-height: 595px;
		background-size: 534px auto;
		background-position: right bottom;
	}

	.no-webp .page-header {
		background-image: url("../img/main-cat-tablet@1x.png");
	}

	.webp .page-header {
		background-image: url("../img/main-cat-tablet@1x.webp");
	}
}

@media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .no-webp .page-header {
		background-image: url("../img/main-cat-tablet@2x.png");
	}

	.webp .page-header {
		background-image: url("../img/main-cat-tablet@2x.webp");
	}
}

@media (max-width: 767px) {
	.page-header {
		min-height: 617px;
		background-size: 320px auto;
	}

	.no-webp .page-header {
		background-image: url("../img/main-cat-mobile@1x.png");
	}

	.webp .page-header {
		background-image: url("../img/main-cat-mobile@1x.webp");
	}
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.no-webp .page-header {
		background-image: url("../img/main-cat-mobile@2x.png");
	}

	.webp .page-header {
		background-image: url("../img/main-cat-mobile@2x.webp");
	}
}

.logo-icon {
	fill: #a07b50;
	stroke: #1f1c1d;
	stroke-width: 0.8;
}

.page-header__logo-icon {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	padding-top: 40px;
}

@media (max-width: 1023px) {
	.page-header__logo-icon {
		padding-top: 22px;
		width: 58px;
		transform: translateX(-2px);
	}
}

@media (max-width: 767px) {
	.page-header__logo-icon {
		padding-top: 19px;
		width: 53px;
		transform: none;
	}
}

.page-header__wrapper {
	display: flex;
}

@media (max-width: 1023px) {
	.page-header__wrapper {
		flex-direction: column-reverse;
		padding-left: 0;
	}
}

.social__icon {
	fill: #ffffff;
}

.page-header__social {
	position: relative;
	padding-top: 478px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 767px) {
	.page-header__social {
		display: none;
	}
}

@media (max-width: 1023px) {
	.page-header__social {
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 0;
		padding-left: 14px;
		margin-top: 60px;
	}
}

.page-header__social::after {
	position: absolute;
	top: 372px;
	left: 9px;
	content: "";
	width: 1px;
	height: 77.5px;
	background-color: rgba(255, 255, 255, 0.2)
}

@media (max-width: 1023px) {
	.page-header__social::after {
		display: none;
	}
}

.social__link {
	width: 12px;
	height: 11px;
}

@media (max-width: 1023px) {
	.social__link {
		width: auto;
		height: auto;
	}
}

.social__item {
	margin-bottom: 10px;
}

@media (max-width: 1023px) {
	.social__item {
		margin-bottom: 0;
		margin-right: 12px;
	}
}

.page-header__location, .page-header__description {
	font-size: 16px;
	line-height: 24px;
	color: #a07b50;
	font-weight: 400;
}

@media (max-width: 767px) {
	.page-header__location, .page-header__description {
		font-size: 14px;
		text-align: center;
	}

	.page-header__location {
		line-height: 21px;
	}
}

.page-header__location {
	margin-bottom: 0;
}

.page-header__title {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 18px;
	font-family: "Yeseva One", "Georgia", serif;
	font-size: 52px;
	line-height: 58px;
	font-weight: 400;
	transform: translateX(-2px);
}

@media (max-width: 1023px) {
	.page-header__title {
		margin-bottom: 20px;
		line-height: 59px;
	}
}

@media (max-width: 767px) {
	.page-header__title {
		width: 240px;
		margin: 6px auto 17px;
		font-size: 36px;
		line-height: 41px;
		text-align: center;
		transform: translateX(-5px);
	}

	.page-header__title span {
		display: block;
		transform: translateX(5px);
	}
}

.page-header__button {
	display: block;
	width: 200px;
	height: 52px;
	padding: 17px 0 0 35px;
	color: #ffffff;
	border: 1px solid #a07b50;
}

@media (max-width: 1023px) {
	.page-header__button {
		padding-top: 18px;
	}
}

@media (max-width: 767px) {
	.page-header__button {
		width: 141px;
		height: 40px;
		margin: 0 auto;
		padding-top: 10px;
		padding-left: 18px;
		font-size: 12px;
	}
}

.page-header__description {
	width: 270px;
	margin-bottom: 49px;
}

@media (max-width: 767px) {
	.page-header__description {
		width: 100%;
		margin-bottom: 35px;
		line-height: 20px;
		transform: translateX(-1px);
	}
}

.page-header__content {
	padding-top: 90px;
	padding-left: 111px;
}

@media (max-width: 1023px) {
	.page-header__content {
		padding-left: 16px;
		padding-top: 70px;
	}
}

@media (max-width: 767px) {
	.page-header__content {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.page-header__content {
		padding-top: 30px;
	}
}

/*Pets*/

.pets {
	min-height: 1060px;
	background-color: #1f1c1d;
}

.pets__title {
	margin-bottom: 22px;
}

.pets__description {
	width: 520px;
	margin-top: 0;
	margin-bottom: 47px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #a07b50;
	text-align: center;
}

.pets__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	width: 262px;
}

.pets__item {
	width: auto;
	margin-right: 45px;
}

.pets__link {
	font-size: 18px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.2);
}

.pets__link--active {
	color: #ffffff;
}

.pets__gallery-button {
	display: none;
}

.pets__button {
	width: 200px;
	margin-top: 19px;
	padding: 18px 15px 16px 39px;
	color: #ffffff;
	border: 1px solid #a07b50;
}

@media (max-width: 1023px) {
	.pets__button {
		margin-top: 39px;
	}
}

.pets__wrapper {
	position: relative;
	padding-top: 193px;
}

.pets__tab {
	position: relative;
	margin-top: 46px;
}

.gallery__item {
	width: 519px;
	margin-bottom: 30px;
	overflow: hidden;
}

.gallery__item--top {
	height: 214px;
}

.gallery__item-image {
	object-fit: cover;
}

.gallery__item-image--top {
	height: 240px;
}

.gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 1086px;
	height: 522px;
	align-content: center;
	padding-left: 30px;
}

.gallery__item--center {
	margin-left: 35px;
	height: 522px;
	margin-bottom: 0;
}

@media (min-width: 1023px) and (max-width: 1090px) {
	.gallery {
		width: auto;
	}

	.gallery__item {
		width: 400px;
	}
}

@media (max-width: 1023px) {
	.gallery__item {
		position: absolute;
		margin-bottom: 0;
		height: 197px;
		width: 400px;
	}

	.gallery__item--center {
		left: -251px;
		top: 11px;
		height: 520px;
		width: 497px;
		margin-left: 0;
		z-index: 10;
	}

	.gallery__item-image {
		height: 197px;
	}

	.gallery__item--bottom {
		bottom: 164px;
		left: -313px;
		z-index: 2;
	}

	.gallery__item--top {
		left: -113px;
		bottom: 164px;
		z-index: 1;
	}

	.gallery__item--center .gallery__item-image {
		height: 495px;
		width: 474px;
	}

	.gallery {
		width: auto;
		flex-direction: row-reverse;
		padding-left: 0;
	}

	.pets__gallery-button {
		position: absolute;
		top: 556px;
		display: block;
		width: 15px;
		height: 30px;
		background-color: transparent;
		border: none;
		background-repeat: no-repeat;
	}

	.pets__gallery-button.slider-button--prev {
		background-image: url("../img/arrowPrev.svg");
		left: 27px;
	}

	.pets__gallery-button.slider-button--next {
		background-image: url("../img/arrowNext.svg");
		right: 27px;
	}

	.pets__wrapper {
		padding-top: 71px;
	}

	.pets__title {
		width: 185px;
	}

	.pets__description {
		padding-right: 6px;
		margin-bottom: 48px;
		line-height: 25px;
	}

	.pets__item {
		margin-right: 44px;
	}

	.pets__tab {
		margin-top: 29px;
	}
}

@media (max-width: 767px) {
	.gallery__item--top, .gallery__item--bottom {
		display: none;
	}

	.pets__description {
		width: 290px;
		padding-right: 0;
		margin-bottom: 32px;
		font-size: 14px;
		line-height: 20px;
	}

	.pets__wrapper {
		padding-top: 26px;
	}

	.pets__title {
		width: 142px;
		margin-bottom: 17px;
	}

	.gallery__item--center {
		position: static;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 0 15px;
	}

	.gallery__item--center .gallery__item-image {
		width: 100%;
		height: auto;
		min-height: 248px;
	}

	.gallery {
		height: auto;
	}

	.pets__link {
		font-size: 16px;
	}

	.pets__list {
		width: 231px;
	}

	.pets__tab {
		margin-top: 37px;
		width: 100%;
	}

	.pets__gallery-button {
		top: 62.5%;
		background-size: 65%;
	}

	.pets__gallery-button.slider-button--prev {
		left: 14px;
	}

	.pets__gallery-button.slider-button--next {
		right: 9px;
	}

	.pets__button {
		width: 142px;
		padding: 13px 5px 11px 17px;
		font-size: 12px;
		font-weight: 700;
	}

	.pets {
		min-height: 760px;
	}
}

/*Breed-features*/

.breed-features {
	min-height: 986px;
	margin-top: -1px;
	background-color: #1f1c1d;
}

.breed-features__wrapper {
	padding-top: 32px;
}

.breed-features__title {
	width: 450px;
	padding-left: 37px;
	margin-bottom: 4px;
}

.breed-features__description {
	width: 740px;
	color: #a07b50;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	transform: translateX(-1px);
}

.breed-features__list {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 0;
	width: 0;
}

.breed-features__item {
	position: relative;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.breed-features__item::after {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #a07b50;
}

.breed-features__item--livable {
	width: 255px;
	font-size: 14px;
	top: -467px;
	left: -236px;
	text-align: right;
}

.breed-features__item--livable::after {
	top: 7px;
	right: -39px;
}

.breed-features__item--trainable {
	top: -400px;
	left: 655px;
	width: 183px;
}

@media (min-width: 1024px) and (max-width: 1125px) {
	.breed-features__item--trainable {
		width: auto;
	}

	.breed-features__item.breed-features__item--appearance {
		top: -330px;
		left: -204px;
	}

	.breed-features__item.breed-features__item--weight {
		top: -275px;
		left: 605px;
	}
}

.breed-features__item--trainable::after {
	top: 1px;
	left: -34px;
}

.breed-features__item--weight {
	top: -224px;
	left: 618px;
	width: 175px;
}

.breed-features__item--weight::after {
	top: 4px;
	left: -33px;
}

.breed-features__item--appearance {
	top: -311px;
	left: -227px;
	width: 230px;
	text-align: right;
}

.breed-features__item--appearance::after {
	top: 5px;
	right: -32px;
}

.breed-features__photo {
	position: relative;
	z-index: 10;
	left: 34px;
	top: 5px;
}

.breed-features__photo::after {
	position: absolute;
	content: "";
	left: -30px;
	top: 53px;
	width: 629px;
	height: 629px;
	padding: 54px;
	border-radius: 50%;
	background-color: #151313;
	z-index: -1;
	border: 1px solid #a07b50;
	background-clip: content-box;
	box-sizing: border-box;
}